html, body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
    font: 100.01% "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
    color: #000000;
    padding: 0;
}


body * {
	line-height:1.22em;
}

.container-fluid {
	padding: 0px;
	margin: 0px;	
}

.container img {
   max-width: 100%;
   height: auto;
}

.footer-icon img {
  margin: 3px;
}

.red	{ color:red; }
.grey { color: #016799; }
.orange { #DD6900; } 
.blue { color: #016799; }

.p_small {
  font-style: italic;
}


.colorBlue {
  background-color: #558ab4;
}

.colorOrange {
  background-color: #DD6900;
}

.colorGreen {
  background-color: #95b176;
}

.orange {
    color: #DD6900;
}

.green{
    color: #95b176;
}

.blue {
	color: #558ab4;
}

.light-blue {
    color: #72b6ed;
}


h1, h2, h3, h4, h5, h6 {
}

h1 {
	font-size: 2.4em;
	color: #DD6900;
	line-height: 40px;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

p {
	font-size: 1.1em;
	line-height: 1.4em;
}

p2 {
	font-size: .85em;
}

p3 {
	font-size: .7em
}

p.lead {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
}

p.lead-intro {
	font-size: 1.6em;
	font-weight: bold;
	line-height: 1.6em;
}

.smalltext {
	font-size: .9em;
}

.bold {
	font-weight: bold;
}

a.title-summary {
        font-size: 0.9em;
}

.summary-details {
	font-size: 1em;
	line-height: 1em;
}

.booking-enquiry h2 {
	font-size: 2em;
	color: #DD6900;
}

 ul, li {
 	font-size: 1.1em;
}

ul, ol {
    margin-left 0;
}

ul ul {
    margin-bottom: 20px;
}

#wrap {
    /*margin: 0 12%;*/
    margin: 20px 40px;
}

.margin1 { margin: 3px; }

.title {
	margin: 10px 10px 10px 0px;
}

hr	{ height: 0px; border: dotted #CCCCCC 0px; border-top-width: 1px;}


a {
    color: #4088b8;
    text-decoration: none;
}

a:hover {
    color: #F62217;
    text-decoration: underline;
}

a.navlink:link,a.navlink:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a.navlink:hover {
    color: #F62217;
}

.nav-item a, .nav-item a:visited
 {
	font-size: .8em;
	color: rgba(33, 37, 41, 0.75);
	text-decoration: none;
}

.nav-item a:hover {
    color: #F62217;
}

.small-text, span.p_small {
	font-size: 1em;
	margin: 0px;
}

a.breadcrumb:link,a.breadcrumb:visited {
	font-size: .9em;
	text-decoration: none;
}

a.small:link,a.small:visited {
	font-size: .9em;
	color: #F62217;
	text-decoration: none;
}

a.small:hover {
    text-decoration: underline;
}

a.p_small:link,a.p_small:visited {
	font-size: 1em;
	color: #F62217;
	text-decoration: none;
}

a.p_small:hover {
    text-decoration: underline;
}

a.article_title:link,a.article_title:visited {
	font-size: 1.2em;
	color: #F62217;
	text-decoration: none;
}

a.article_title:hover {
    text-decoration: underline;
}

a.more-link:link { background:url(/images/chevron-grey.gif) 0 4px no-repeat !important; font-size:1em; color: #006699; font-weight:bold; padding-left:10px !important;}
a.more-link:visited {background:url(/images/chevron-grey.gif) 0 4px no-repeat !important; font-size:1em; font-weight:bold; padding-left:10px !important;}
a.more-link:hover { background:url(/images/chevron-grey.gif) 0 4px no-repeat !important;}
a.more-link-country:link { background:url(/images/chevron-grey.gif) 0 4px no-repeat !important; font-size:1.5em; color: #006699; font-weight:bold; padding-left:10px !important;}
a.more-link-country:visited {background:url(/images/chevron-grey.gif) 0 4px no-repeat !important; font-size:1.5em; color: #006699; font-weight:bold; padding-left:10px !important;}
a.more-link-country:hover { background:url(/images/chevron-grey.gif) 0 4px no-repeat !important;}


.nav_link {
    margin: 6px 0px 0px 0px;
    letter-spacing: 2px;
    line-height: 14px;
    font-size: 12px;
    font-weight: bold;
}

.hide {
  display: none;
}
.show {
  display: block;
}


.span12 {
	flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);

	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.span4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}