
body {
	margin: 0;
	padding: 0;
	background: #ffffff;
}


.hide {display: none; visibility:hidden; }





.five { width: 900px; }
.four { width: 700px; }
.three { width: 525px; }
.two { width: 350px; }
.one-half { width: 230px; }
.one { width: 175px; }

.five-sm { width: 880px; }
.four-sm { width: 680px; }
.three-sm { width: 505px; }
.two-sm { width: 330px; }
.one-sm { width: 155px; }


.border-top {
	border-top: 3px solid #0270bd;
}

.border-bottom {
	border-bottom: 3px solid #0270bd;
}

.col {
	float: left;
}

.right-align {
	float: right;
}

.left-align {
	float: left;
}

.clear {
	clear: both;
}




.MainWrapper {
	width:1225px;height:auto;margin:0 auto;background:#ffffff; }

.MainWrapperInner {
	float: left;
	width:1225px;height:auto;margin:0 auto;background:#ffffff; }

.header {
	float: left;
	width: 904px;
	padding: 0px 10px 0px 10px;
}

.footer {
	clear:  both;
	width: 1204px;
	padding: 10px;

}


.ContentWrapper {
	float: left;
	width: 1204px;
	padding: 10px;
}


.RightContentWrapper {
	float: right;
	width: 200px;
}

.breadcrumb {
	margin-left: 10px;
}



/* top login link */
ul.info-nav-two {float:right; margin: 0 1.4em 0 0; text-align:right; line-height:23px;}
ul.info-nav-two li {display:block; float:left; height:1.4em;}
ul.info-nav-two li a {font-weight:bold; text-decoration:none;}
ul.info-nav-two li a:hover, ul.info-nav-two li a:focus, ul.info-nav-two li a:active {text-decoration:underline;}
ul.info-nav-two li, ul.info-nav li {font-size:1.2em; line-height:2em;}
ul.info-nav-two li.logged-out {background:transparent url(/images/icon-logged-out-small.gif) no-repeat 0 0; padding:0 0 0 26px;}
ul.info-nav-two li.logged-in {background:transparent url(/images/icon-logged-in-small.gif) no-repeat 0 0; padding:0 0 0 26px;}
ul.info-nav-two li.log-out {margin-left:0.6em;}
ul.info-nav-two li.go-to {background:transparent url(/images/top-nav-seperator.gif) left no-repeat; padding-left:0.7em;}





.page-links {font-size: 18px; margin:1em 0 1em 0; padding: 1em; width: 530px; height: 40px; }
.page-links ul {list-style:none;}
.page-links ul li {float:left; width:auto;}
.page-links ul li a {background:transparent; font-size: 18px; color:#f9613a; font-weight:bold; padding:0 0.3em; text-decoration:none; border: 1px solid #FFFFFF;}
.page-links ul li a:hover {font-size: 16px; text-decoration:underline; border: 1px solid #006699;}
.page-links ul li.previous a { font-size: 16px; background:url(/images/arrow-prev.gif) 30px 1px no-repeat; display:block; text-indent:-.25em; width:3.2em; }
.page-links ul li.currentpage { font-size: 14px; color:#f60; padding:0 0.3em; text-decoration:underline;}
.page-links ul li.next a { font-size: 16px; background:url(/images/arrow-next.gif) 0 1px no-repeat; display:block; text-indent:1em; width:2.6em;}
.page-links ul li.prev-inactive { font-size: 16px; color:#CCCCCC; font-weight:bold; padding:0 0.3em; text-decoration:none; background:url(/images/arrow-prev.gif) 30px 1px no-repeat; display:block; text-indent:-1.4em; width:2.3em; }
.page-links ul li.next-inactive { font-size: 16px; color:#CCCCCC; font-weight:bold; padding:0 0.3em; text-decoration:none; background:url(/images/arrow-next.gif) 0 1px no-repeat; display:block; text-indent:1em; width:2.6em; }



div.row {
	float: left;
	width: 800px;
	margin: 6px 0px 6px 0px;
}

span.input_col {
	display: block;
	float: left;
	text-align: left;
	width: 600px;
}

span.label_col {
	display: block;
	float: left;
	text-align: left;
	width: 160px;
}

ul.std { float: left; margin: 0px; padding: 0x;	list-style: none; }
ul.std li { margin: 0px 0px 0px 0px; padding: 0px; line-height: 1.8em; }
ul.std li a { font-weight:bold; text-decoration:none;}
ul.std li a:hover, ul.std li a:focus, ul.std li a:active {text-decoration:underline;}


ul.select_list {

	margin: 0;
	padding: 0;
	list-style: none;

}

li.select_list_element {
	float: left;
	width: 180px;
	padding: 0 0 0 0;
	--line-height: 1.8em;
}

li.select_list_element_wide {
	float: left;
	width: 220px;
	padding: 0 0 0 0;
	--line-height: 1.8em;
}

.textinput_01 {
	width: 360px;
}

.textarea_01 {
	width: 360px;
	height: 90px;
}

.textarea_02 {
	width: 560px;
	height: 260px;
}
